@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_regular-webfont.eot");
  src: url("../fonts/bariol/ bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_regular-webfont.svg#BariolRegularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BariolBold';
  src: url("../fonts/bariol/bariol_bold-webfont.eot");
  src: url("../fonts/bariol/bariol_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_bold-webfont.woff") format("woff"), url("../fonts/bariol/bariol_bold-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_bold-webfont.svg#BariolBoldBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BariolThin';
  src: url("../fonts/bariol/bariol_light-webfont.eot");
  src: url("../fonts/bariol/bariol_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_light-webfont.woff") format("woff"), url("../fonts/bariol/bariol_light-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_light-webfont.svg#BariolLightLight") format("svg");
  font-weight: thin;
  font-style: normal; }

@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_regular-webfont.eot");
  src: url("../fonts/bariol/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_regular-webfont.svg#BariolRegularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Bariol';
  font-weight: normal;
  margin: 0;
  min-width: 730px; }

.visible {
  display: block; }

.inline-visible {
  display: inline-block; }

.hidden {
  display: none; }

.sticky {
  position: fixed;
  top: 75px;
  border-top: 1px solid #e8e8e8; }

#menu-bar {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e8e8e8;
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  #menu-bar.expanded {
    height: 145px; }
  #menu-bar #logo-container {
    margin-top: 15px;
    margin-left: 30px;
    width: 175px;
    height: 24px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    top: 2px; }
    #menu-bar #logo-container #logo {
      -webkit-transition: top 0.15s ease;
      -moz-transition: top 0.15s ease;
      -ms-transition: top 0.15s ease;
      -o-transition: top 0.15s ease;
      transition: top 0.15s ease;
      width: 125px;
      height: 48px;
      background: url("../img/logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0; }
      #menu-bar #logo-container #logo:hover {
        cursor: pointer;
        top: -24px; }
  #menu-bar #menu-border {
    width: 1px;
    background: #9b9b9b;
    height: 20px;
    display: inline-block;
    margin-top: 30px; }
  #menu-bar #ticker {
    display: inline-block;
    color: #9b9b9b;
    margin: 0px 32px 0px 32px;
    position: relative;
    width: 256px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    list-style-type: none;
    height: 18px;
    overflow: hidden; }
    #menu-bar #ticker:hover {
      cursor: pointer; }
    #menu-bar #ticker ul {
      -webkit-transition: top 0.25s ease;
      -moz-transition: top 0.25s ease;
      -ms-transition: top 0.25s ease;
      -o-transition: top 0.25s ease;
      transition: top 0.25s ease;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      list-style-type: none; }
  #menu-bar #menu-scores {
    display: inline-block;
    margin-left: 35px;
    width: 65px;
    color: #9b9b9b;
    font-size: 10pt;
    margin-top: 26px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    right: 5%;
    overflow: hidden;
    height: 28px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    @media only screen and (min-width: 740px) {
      #menu-bar #menu-scores {
        width: 125px; } }
    @media only screen and (min-width: 780px) {
      #menu-bar #menu-scores {
        width: 185px; } }
    @media only screen and (min-width: 850px) {
      #menu-bar #menu-scores {
        width: 260px; } }
    @media only screen and (min-width: 950px) {
      #menu-bar #menu-scores {
        width: 350px; } }
    @media only screen and (min-width: 1080px) {
      #menu-bar #menu-scores {
        width: 480px; } }
    @media only screen and (min-width: 1190px) {
      #menu-bar #menu-scores {
        width: 575px; } }
    #menu-bar #menu-scores .scores-more {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      display: inline-block;
      font-family: BariolThin;
      font-size: 9pt;
      text-decoration: none;
      color: white;
      position: absolute;
      right: 0;
      padding: 3px;
      bottom: 3;
      background: #9b9b9b; }
      #menu-bar #menu-scores .scores-more:hover {
        background: #fa4b2a;
        cursor: pointer; }
    #menu-bar #menu-scores .score-container {
      -webkit-transition: top 0.25s ease;
      -moz-transition: top 0.25s ease;
      -ms-transition: top 0.25s ease;
      -o-transition: top 0.25s ease;
      transition: top 0.25s ease;
      margin-left: auto;
      margin-right: auto;
      top: 0;
      position: absolute;
      right: 40; }
    #menu-bar #menu-scores #score {
      -webkit-transition: color 0.25s ease;
      -moz-transition: color 0.25s ease;
      -ms-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
      transition: color 0.25s ease;
      display: inline-block;
      margin-right: 30px; }
      #menu-bar #menu-scores #score:hover {
        cursor: pointer;
        color: #fa4b2a; }
      #menu-bar #menu-scores #score .team-name {
        font-family: BariolBold;
        font-weight: normal;
        color: #686868; }

.menu-dropdown {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 76;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  border-top: 1px solid #e8e8e8; }
  .menu-dropdown .logo-dropdown {
    width: 100%;
    height: 100%;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .menu-dropdown .logo-dropdown .view-more-right {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      position: fixed;
      right: 0;
      height: 100%;
      width: 50px;
      border-left: 1px solid #e8e8e8;
      text-align: center;
      background: white;
      font-size: 40pt;
      z-index: 10; }
      .menu-dropdown .logo-dropdown .view-more-right:hover {
        cursor: pointer;
        background: #f2f2f2; }
    .menu-dropdown .logo-dropdown .view-more-left {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      position: fixed;
      left: 0;
      height: 100%;
      width: 50px;
      border-right: 1px solid #e8e8e8;
      text-align: center;
      background: white;
      font-size: 40pt;
      z-index: 10; }
      .menu-dropdown .logo-dropdown .view-more-left:hover {
        cursor: pointer;
        background: #f2f2f2; }
    .menu-dropdown .logo-dropdown #dropdown-swimming {
      padding-right: 55px; }
    .menu-dropdown .logo-dropdown #dropdown-football {
      padding-left: 55px; }
    .menu-dropdown .logo-dropdown li {
      display: inline-block;
      height: 70px;
      width: 210px;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid #f4f4f4;
      font-family: BariolThin;
      font-size: 25pt;
      color: #6d6e71;
      padding-left: 20px;
      padding-right: 20px; }
      .menu-dropdown .logo-dropdown li:hover {
        background: #fa4b2a;
        color: white;
        cursor: pointer; }
      .menu-dropdown .logo-dropdown li:hover > #football {
        background: url("../img/search/footballw.png") center;
        background-size: cover; }
      .menu-dropdown .logo-dropdown li:hover > .dropdown-sport-logo {
        opacity: 1;
        cursor: pointer;
        -webkit-transform: rotateZ(90deg) scale(1.2);
        -moz-transform: rotateZ(90deg) scale(1.2);
        -ms-transform: rotateZ(90deg) scale(1.2);
        -o-transform: rotateZ(90deg) scale(1.2);
        transform: rotateZ(90deg) scale(1.2); }
      .menu-dropdown .logo-dropdown li .dropdown-sport-logo {
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-top: 30px;
        -webkit-transform: rotateZ(0deg) scale(1);
        -moz-transform: rotateZ(0deg) scale(1);
        -ms-transform: rotateZ(0deg) scale(1);
        -o-transform: rotateZ(0deg) scale(1);
        transform: rotateZ(0deg) scale(1); }
      .menu-dropdown .logo-dropdown li .dropdown-sport-title {
        margin-top: 20px;
        margin-left: 40px;
        display: inline-block;
        text-align: center; }

#menu-bar-spacer {
  width: 100%;
  height: 75px;
  position: relative; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: white; }

.text-white {
  color: white; }

.text-lightgray {
  color: #9b9b9b; }

.text-darkgray {
  color: #6d6e71; }

.text-purple {
  color: #7880b9; }

.text-yellow {
  color: #f1c817; }

.text-crimson {
  color: #ca3756; }

.text-blue {
  color: #47bee2; }

#soccer {
  background: url("../img/search/soccer.png") center;
  background-size: cover; }

#basketball {
  background: url("../img/search/basketball.png") center;
  background-size: cover; }

#football {
  background: url("../img/search/football.png") center;
  background-size: cover; }

#baseball {
  background: url("../img/search/baseball.png") center;
  background-size: cover; }

#hockey {
  background: url("../img/search/hockey.png") center;
  background-size: cover; }

#golf {
  background: url("../img/search/golf.png") center;
  background-size: cover; }

#swimming {
  background: url("../img/search/swimming.png") center;
  background-size: cover;
  margin-right: 0; }

.cover {
  width: 100%;
  height: 100%; }
  .cover .cover-photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    z-index: 1; }
  .cover #cover-ray-lewis {
    background: url("../img/player/lewis/cover.jpg") center;
    background-repeat: no-repeat;
    background-size: cover; }
  .cover .cover-footer {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #ffffff;
    bottom: 0;
    z-index: 2;
    font-family: BariolThin; }
    .cover .cover-footer .profile-img {
      top: -75px;
      left: 50px;
      position: absolute;
      display: inline-block;
      width: 150px;
      height: 150px;
      background: #000;
      border-radius: 80px;
      -moz-border-radius: 80px;
      -webkit-border-radius: 80px;
      border: 4px solid #fff;
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); }
    .cover .cover-footer #profile-ray-lewis {
      background: url("../img/player/lewis/profile-img.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 35%; }
    .cover .cover-footer .title-container {
      margin-left: 220px;
      display: inline-block; }
      .cover .cover-footer .title-container .name {
        display: inline-block;
        font-family: BariolThin;
        color: #6d6e71;
        margin: 10 0 0 0;
        font-weight: normal; }
    .cover .cover-footer .detail-container {
      position: absolute;
      right: 30px;
      display: inline-block;
      top: 20px; }
      .cover .cover-footer .detail-container .team {
        text-align: center;
        display: block;
        margin: 0;
        color: white;
        background: #7880b9;
        width: 80px;
        font-size: 14pt; }
      .cover .cover-footer .detail-container .position {
        padding-left: 5px;
        margin-top: 5px;
        color: #9b9b9b; }

.content {
  z-index: 2;
  width: 100%;
  background: #ffffff;
  position: relative;
  font-family: BariolThin;
  padding-bottom: 150px; }
  .content .content-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px; }
    .content .content-inner .intro {
      padding-top: 10px;
      color: #6d6e71;
      text-align: center; }
    .content .content-inner .stats-container {
      -webkit-transition: height 0.6s ease;
      -moz-transition: height 0.6s ease;
      -ms-transition: height 0.6s ease;
      -o-transition: height 0.6s ease;
      transition: height 0.6s ease;
      margin-top: 30px;
      overflow: hidden;
      height: 13%; }
      .content .content-inner .stats-container:hover {
        height: 100%; }
      .content .content-inner .stats-container table {
        border-collapse: collapse;
        width: 100%; }
        .content .content-inner .stats-container table tr {
          -webkit-transition: background 0.35s ease;
          -moz-transition: background 0.35s ease;
          -ms-transition: background 0.35s ease;
          -o-transition: background 0.35s ease;
          transition: background 0.35s ease;
          text-align: left;
          line-height: 30pt;
          border-bottom: 1px solid #f4f4f4; }
          .content .content-inner .stats-container table tr:hover {
            background: #f9f9f9; }
        .content .content-inner .stats-container table thead {
          color: #9b9b9b;
          background: white; }
          .content .content-inner .stats-container table thead tr {
            border-bottom: 1px solid #9b9b9b; }
            .content .content-inner .stats-container table thead tr:hover {
              background: #ffffff; }
        .content .content-inner .stats-container table tbody th {
          color: #383a3b; }
        .content .content-inner .stats-container table td {
          color: #6d6e71; }
    .content .content-inner .articles {
      margin-top: 50px;
      width: 100%;
      height: 120px;
      overflow-x: scroll;
      white-space: nowrap; }
      .content .content-inner .articles .article:first-child {
        padding-left: 0px !important; }
      .content .content-inner .articles .article {
        -webkit-transition: background 0.35s ease;
        -moz-transition: background 0.35s ease;
        -ms-transition: background 0.35s ease;
        -o-transition: background 0.35s ease;
        transition: background 0.35s ease;
        width: 220px;
        display: inline-block;
        border-right: 1px solid #e8e8e8;
        padding-right: 20px;
        white-space: normal;
        padding-left: 10px; }
        .content .content-inner .articles .article:hover {
          cursor: pointer;
          background: #f9f9f9; }
        .content .content-inner .articles .article .article-header {
          font-size: 16pt;
          color: #6d6e71; }
        .content .content-inner .articles .article .article-content {
          color: #9b9b9b; }
