@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_regular-webfont.eot");
  src: url("../fonts/bariol/ bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_regular-webfont.svg#BariolRegularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BariolBold';
  src: url("../fonts/bariol/bariol_bold-webfont.eot");
  src: url("../fonts/bariol/bariol_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_bold-webfont.woff") format("woff"), url("../fonts/bariol/bariol_bold-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_bold-webfont.svg#BariolBoldBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BariolThin';
  src: url("../fonts/bariol/bariol_light-webfont.eot");
  src: url("../fonts/bariol/bariol_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_light-webfont.woff") format("woff"), url("../fonts/bariol/bariol_light-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_light-webfont.svg#BariolLightLight") format("svg");
  font-weight: thin;
  font-style: normal; }

@font-face {
  font-family: 'Bariol';
  src: url("../fonts/bariol/bariol_regular-webfont.eot");
  src: url("../fonts/bariol/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol/bariol_regular-webfont.svg#BariolRegularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Bariol';
  font-weight: normal;
  margin: 0;
  min-width: 730px;
  position: relative; }

.visible {
  display: block; }

.inline-visible {
  display: inline-block; }

.hidden {
  display: none; }

.sticky {
  position: fixed;
  top: 75px;
  border-top: 1px solid #e8e8e8; }

#menu-bar {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-top: 3px solid #fa4b2a;
  width: 100%;
  height: 145px;
  background: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: 0;
  z-index: 2000;
  border-bottom: 1px solid #e8e8e8;
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  #menu-bar.expanded {
    height: 145px; }
  #menu-bar #logo-container {
    margin-top: 15px;
    margin-left: 30px;
    width: 175px;
    height: 24px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    top: 2px; }
    #menu-bar #logo-container #logo {
      -webkit-transition: top 0.15s ease;
      -moz-transition: top 0.15s ease;
      -ms-transition: top 0.15s ease;
      -o-transition: top 0.15s ease;
      transition: top 0.15s ease;
      width: 125px;
      height: 48px;
      background: url("../img/logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0; }
      #menu-bar #logo-container #logo:hover {
        cursor: pointer;
        top: -24px; }
  #menu-bar #menu-border {
    width: 1px;
    background: #9b9b9b;
    height: 20px;
    display: inline-block;
    margin-top: 30px; }
  #menu-bar #ticker {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: inline-block;
    color: #9b9b9b;
    margin: 0px 32px 0px 32px;
    position: relative;
    width: 256px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    list-style-type: none;
    height: 18px;
    overflow: hidden; }
    #menu-bar #ticker:hover {
      cursor: pointer;
      color: #fa4b2a; }
    #menu-bar #ticker ul {
      -webkit-transition: top 0.25s ease;
      -moz-transition: top 0.25s ease;
      -ms-transition: top 0.25s ease;
      -o-transition: top 0.25s ease;
      transition: top 0.25s ease;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      list-style-type: none; }
  #menu-bar #menu-scores {
    display: inline-block;
    margin-left: 35px;
    width: 65px;
    color: #9b9b9b;
    font-size: 10pt;
    margin-top: 26px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    right: 5%;
    overflow: hidden;
    height: 28px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    @media only screen and (min-width: 740px) {
      #menu-bar #menu-scores {
        width: 125px; } }
    @media only screen and (min-width: 780px) {
      #menu-bar #menu-scores {
        width: 185px; } }
    @media only screen and (min-width: 850px) {
      #menu-bar #menu-scores {
        width: 260px; } }
    @media only screen and (min-width: 950px) {
      #menu-bar #menu-scores {
        width: 350px; } }
    @media only screen and (min-width: 1080px) {
      #menu-bar #menu-scores {
        width: 480px; } }
    @media only screen and (min-width: 1190px) {
      #menu-bar #menu-scores {
        width: 575px; } }
    #menu-bar #menu-scores .scores-more {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      display: inline-block;
      font-family: BariolThin;
      font-size: 9pt;
      text-decoration: none;
      color: white;
      position: absolute;
      right: 0;
      padding: 3px;
      bottom: 3;
      background: #9b9b9b; }
      #menu-bar #menu-scores .scores-more:hover {
        background: #fa4b2a;
        cursor: pointer; }
    #menu-bar #menu-scores .score-container {
      -webkit-transition: top 0.25s ease;
      -moz-transition: top 0.25s ease;
      -ms-transition: top 0.25s ease;
      -o-transition: top 0.25s ease;
      transition: top 0.25s ease;
      margin-left: auto;
      margin-right: auto;
      top: 0;
      position: absolute;
      right: 40; }
    #menu-bar #menu-scores #score {
      -webkit-transition: color 0.25s ease;
      -moz-transition: color 0.25s ease;
      -ms-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
      transition: color 0.25s ease;
      display: inline-block;
      margin-right: 30px; }
      #menu-bar #menu-scores #score:hover {
        cursor: pointer;
        color: #fa4b2a; }
      #menu-bar #menu-scores #score .team-name {
        font-family: BariolBold;
        font-weight: normal;
        color: #686868; }

.menu-dropdown {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 80;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  border-top: 1px solid #cecece; }
  .menu-dropdown .logo-dropdown {
    width: 100%;
    height: 100%;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .menu-dropdown .logo-dropdown .view-more-right {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      position: fixed;
      right: 0;
      height: 71px;
      width: 50px;
      border-left: 1px solid #e8e8e8;
      text-align: center;
      background: white;
      font-size: 40pt;
      z-index: 10; }
      .menu-dropdown .logo-dropdown .view-more-right:hover {
        cursor: pointer;
        background: #f2f2f2; }
    .menu-dropdown .logo-dropdown .view-more-left {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      position: fixed;
      left: 0;
      height: 71px;
      width: 50px;
      border-right: 1px solid #e8e8e8;
      text-align: center;
      background: white;
      font-size: 40pt;
      z-index: 10; }
      .menu-dropdown .logo-dropdown .view-more-left:hover {
        cursor: pointer;
        background: #f2f2f2; }
    .menu-dropdown .logo-dropdown #dropdown-swimming {
      padding-right: 55px; }
    .menu-dropdown .logo-dropdown #dropdown-football {
      padding-left: 55px; }
    .menu-dropdown .logo-dropdown #dropdown-basketball .dropdown-sport-logo {
      margin-left: 0px; }
    .menu-dropdown .logo-dropdown #dropdown-basketball .dropdown-sport-title {
      margin-left: 25px; }
    .menu-dropdown .logo-dropdown #dropdown-hockey .dropdown-sport-logo {
      margin-left: 18px; }
    .menu-dropdown .logo-dropdown #dropdown-hockey .dropdown-sport-title {
      margin-left: 45px; }
    .menu-dropdown .logo-dropdown #dropdown-golf .dropdown-sport-logo {
      margin-left: 30px; }
    .menu-dropdown .logo-dropdown #dropdown-golf .dropdown-sport-title {
      margin-left: 65px; }
    .menu-dropdown .logo-dropdown li {
      display: inline-block;
      height: 70px;
      width: 210px;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid #f4f4f4;
      font-family: BariolThin;
      font-size: 25pt;
      color: #6d6e71;
      padding-left: 20px;
      padding-right: 20px; }
      .menu-dropdown .logo-dropdown li:hover {
        background: #fa4b2a;
        color: white;
        cursor: pointer; }
      .menu-dropdown .logo-dropdown li:hover > .dropdown-sport-logo {
        opacity: 1;
        cursor: pointer;
        -webkit-transform: rotateZ(90deg) scale(1.2);
        -moz-transform: rotateZ(90deg) scale(1.2);
        -ms-transform: rotateZ(90deg) scale(1.2);
        -o-transform: rotateZ(90deg) scale(1.2);
        transform: rotateZ(90deg) scale(1.2); }
      .menu-dropdown .logo-dropdown li .dropdown-sport-logo {
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-top: 30px;
        -webkit-transform: rotateZ(0deg) scale(1);
        -moz-transform: rotateZ(0deg) scale(1);
        -ms-transform: rotateZ(0deg) scale(1);
        -o-transform: rotateZ(0deg) scale(1);
        transform: rotateZ(0deg) scale(1); }
      .menu-dropdown .logo-dropdown li .dropdown-sport-title {
        margin-top: 20px;
        margin-left: 40px;
        display: inline-block;
        text-align: center; }

#menu-bar-spacer {
  width: 100%;
  height: 75px;
  position: relative; }

.text-white {
  color: white; }

.text-lightgray {
  color: #9b9b9b; }

.text-darkgray {
  color: #6d6e71; }

.text-purple {
  color: #7880b9; }

.text-yellow {
  color: #f1c817; }

.text-crimson {
  color: #ca3756; }

.text-blue {
  color: #47bee2; }

.text-orange {
  color: #fa4b2a; }

.bg-orange {
  background: #fa4b2a; }

.bg-lightorange {
  background: #fb755c; }

.bg-green {
  background: #74bb75; }

.bg-blue {
  background: #6378E4; }

.bg-darkblue {
  background: #31b6df; }

.bg-white {
  background: white; }

.bg-lightgray {
  background: #9b9b9b; }

.bg-darkgray {
  background: #6d6e71; }

.bg-purple {
  background: #7880b9; }

.bg-yellow {
  background: #f1c817; }

.bg-crimson {
  background: #ca3756; }

#soccer {
  background: url("../img/icons/black/soccer.png") center;
  background-size: cover; }

#basketball {
  background: url("../img/icons/black/basketball.png") center;
  background-size: cover; }

#football {
  background: url("../img/icons/black/football.png") center;
  background-size: cover; }

#baseball {
  background: url("../img/icons/black/baseball.png") center;
  background-size: cover; }

#hockey {
  background: url("../img/search/hockey.png") center;
  background-size: cover; }

#golf {
  background: url("../img/search/golf.png") center;
  background-size: cover; }

#swimming {
  background: url("../img/search/swimming.png") center;
  background-size: cover;
  margin-right: 0; }

#footer {
  position: absolute;
  width: 100%;
  height: 50px;
  background: black;
  bottom: 0;
  z-index: 10000;
  float: bottom; }
  #footer .footer-logo-container {
    display: none;
    width: 175px;
    height: 24px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative; }
    #footer .footer-logo-container .footer-logo {
      -webkit-transition: top 0.15s ease;
      -moz-transition: top 0.15s ease;
      -ms-transition: top 0.15s ease;
      -o-transition: top 0.15s ease;
      transition: top 0.15s ease;
      width: 125px;
      height: 48px;
      background: url("../img/logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0; }
      #footer .footer-logo-container .footer-logo:hover {
        cursor: pointer;
        top: -24px; }

::selection {
  background: #fa4b2a;
  color: white; }

::-moz-selection {
  background: #fa4b2a;
  color: white; }

.scores-content {
  margin-top: 80px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px; }
  .scores-content .scores-container {
    margin-left: auto;
    margin-right: auto; }
  .scores-content .scorebox {
    float: left;
    margin: 2%;
    display: inline-block;
    width: 300px;
    height: 400px;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    background: #000;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px; }
    .scores-content .scorebox:hover {
      cursor: pointer; }
    .scores-content .scorebox .score-photo {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      position: absolute;
      z-index: 1;
      width: 120%;
      height: 120%;
      left: -10%;
      background-size: cover;
      background-repeat: no-repeat; }
      .scores-content .scorebox .score-photo.closed {
        width: 100%;
        height: 100%;
        left: 0;
        opacity: .7; }
    .scores-content .scorebox #photo-1 {
      background: url("../img/scores/1.jpg");
      background-size: cover; }
    .scores-content .scorebox #photo-2 {
      background: url("../img/scores/2.jpg");
      background-size: cover;
      background-position-x: 80%; }
    .scores-content .scorebox #photo-3 {
      background: url("../img/scores/3.jpg") center;
      background-size: cover; }
    .scores-content .scorebox #photo-4 {
      background: url("../img/scores/4.jpg");
      background-size: cover;
      background-position-x: 22%; }
    .scores-content .scorebox #photo-5 {
      background: url("../img/scores/5.jpg") center;
      background-size: cover; }
    .scores-content .scorebox #photo-6 {
      background: url("../img/scores/6.jpg") center;
      background-size: cover; }
    .scores-content .scorebox #photo-7 {
      background: url("../img/scores/7.jpg") center;
      background-size: cover; }
    .scores-content .scorebox #photo-8 {
      background: url("../img/scores/8.jpg") center;
      background-size: cover; }
    .scores-content .scorebox .score-text {
      -webkit-transition: bottom 0.5s ease;
      -moz-transition: bottom 0.5s ease;
      -ms-transition: bottom 0.5s ease;
      -o-transition: bottom 0.5s ease;
      transition: bottom 0.5s ease;
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      bottom: -85%; }
      .scores-content .scorebox .score-text.open {
        bottom: 0; }
      .scores-content .scorebox .score-text .score-header {
        width: 80%;
        height: 15%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #e8e8e8; }
        .scores-content .scorebox .score-text .score-header .team {
          display: inline-block;
          position: absolute;
          font-family: BariolThin; }
          .scores-content .scorebox .score-text .score-header .team .team-logo {
            display: inline-block; }
          .scores-content .scorebox .score-text .score-header .team .team-name {
            font-size: 12pt;
            color: #9b9b9b;
            position: absolute;
            top: 10px; }
          .scores-content .scorebox .score-text .score-header .team .score {
            position: absolute;
            font-weight: normal;
            top: -7;
            color: #383a3b; }
        .scores-content .scorebox .score-text .score-header .team-1 .score {
          left: 38; }
        .scores-content .scorebox .score-text .score-header .team-2 {
          right: 10%; }
          .scores-content .scorebox .score-text .score-header .team-2 .team-name {
            right: 0; }
          .scores-content .scorebox .score-text .score-header .team-2 .score {
            right: 45; }
    .scores-content .scorebox .game-title {
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      font-weight: normal;
      font-family: BariolThin;
      color: #6d6e71;
      font-size: 14pt; }
    .scores-content .scorebox .game-summary {
      font-family: BariolThin;
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      color: #9b9b9b;
      font-size: 11pt; }
